<!-- <h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 8!!</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->

<div class="jumbotron main-hero">
    <h4>MacBook Pro</h4>
    <h1 class="display-4 text-white">More power.</h1>
    <h1 class="display-4 text-white">More pro</h1>
    <div class="overlay"></div>
    <div class="laptop"></div>
    <div class="row details-div">
   
            <div class="col-xl-2">
                <h2>
                    8-core
                </h2>
                <p>intel processor</p>
            </div>
            <div class="col-xl-2">
                <h2>
                    32GB
                </h2>
                <p>memory</p>
            </div>
        
        
    </div>
  </div>

  <section class="laptop-macbook">
      <button class="btn btn-default buy-now">
          Buy Now >
      </button>
    <div class="bkg-image">
    </div>
  </section>

  <section class="subscribe-now d-flex justify-content-center align-items-center"> 
    <div>
        <h3 class="text-left">Subscribe Now</h3>
        <div class="form-inline">
            <div class="form-group">
                <div class="input">
                  <input type="email" class="form-control placeholder-center" name="EmailAddress" id="EmailAddress" placeholder="Enter your email address" required tabindex="0" />
                </div>
                <button type="submit" class="btn btn-dark subscribe-btn mx-3" tabindex="0">Subscribe</button>
              </div>
            
        </div>
    </div>
  </section>